*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.logo {
	margin-left: 50px;
}
.navbar-a {
	color: #fff;
  display: inline-block;
}

.main-pic{
 margin-left: 250px;
 margin-top: 50px;
}
.text{
 margin-left: 240px;
}
.mini{
 margin-bottom: 525px;
 margin-right: 150px;
}
.blog {
	background-color:floralwhite;
	margin-left: 15px;
    margin-top: 10px;
    padding-top: 500px;
    padding-left: 20px;
    padding-right:  20px;
}
ul {

  width: 100%;
  display: block;
  height: 450px;
  list-style-type: none;
  display: inline-block;
  margin: 10px auto;
  background-color:blue;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}
ul img.mini{
  width: 200px;
  align-items: center;
  background-color: white;
}
.list{
 list-style:lower-roman;
 letter-spacing: 0cm;
 color:black;
 margin-left: 80%;
}
.more{
  margin-left: 800px;
  padding: 20px;
  width: 100px;
  height: 30px;
  background-color: blue;
  align-items: center;
  display: flex;
  border-radius: 30px;
  outline-style:hidden;
  border-style:double;
}
.more2{
  margin-left: 800px;
}
.map{
  display:flex;
  background-color: blue;
}
.text2{
  margin-bottom: 300px;
  align-content: center;
}
.email{
  margin-left: 200px;
  margin-top: 0px;
}
.phone{
  margin-left: 30px;
}
.box{
  background-color: #fff;
  border: darkred;
}
.container2{
  align-items: center;
}
 
